@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #111828;
    --dark-blue: #0a2e65;
    --orange: #ff8300;
    --light-blue: #4c00ff;
  }
}
